* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

p {
  line-height: 1.5rem;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

hr {
  width: 10%;
  height: 3px;
  background-color: #ed641f;
  border: none;
}

:root {
  --dark: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
}

/* || Utilities */

.icon-container {
  color: #fff;
  font-size: 2rem;
  min-width: 4rem;
  text-align: center;
}

.section-heading {
  font-weight: 700;
}

.fixed-position {
  position: fixed;
}

/* || Header Section  */
.tool-bar {
  display: none;
  background-color: var(--dark);
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.3rem 2rem;
}

.tool-bar a {
  color: #fff;
  font-size: 0.8rem;
}

.tool-bar i {
  font-size: 1rem;
  padding: 0.3rem;
}

.tool-bar a:hover {
  color: var(--orange);
}

.nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;

  background-image: url('img/chess-pieces.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}

.page-logo {
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-container {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3d6;
}

.nav-menu {
  display: none;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-menu a {
  display: block;
  color: #000;
  border: solid 1px #fff;
  min-width: 80px;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}

.nav-menu .active a {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--orange);
}

.nav-menu a:hover {
  border-color: var(--orange);
  color: var(--orange);
}

.nav-menu .nav-btn a {
  border: solid 2px var(--orange);
  text-transform: uppercase;
  color: var(--orange);
  font-weight: 700;
  margin-left: 0.25rem;
  padding: 0.5rem 1rem;
}

.nav-menu .nav-btn:hover {
  border-color: #fff;
}

.nav-menu .nav-btn:hover a {
  background-color: var(--orange);
  color: #fff;
}

/* || Mobile Menu  */
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.487);
  backdrop-filter: blur(5px);
  overflow-y: scroll;
}

.mobile-menu .nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.mobile-menu .nav-menu a {
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.mobile-menu .nav-menu a:hover {
  background-color: var(--orange);
  color: #fff;
}

.mobile-menu .nav-btn {
  display: none;
}

.mobile-toolbar {
  display: none;
  border-top: solid 1px;
  margin: 1rem 0;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.mobile-toolbar li {
  padding: 1rem 0.5rem;
  text-align: center;
}

.mobile-toolbar a {
  display: block;
  font-size: 1.5rem;
}

.mobile-toolbar a:hover {
  color: var(--orange);
}

.mobile-toolbar i {
  font-size: 2rem;
}

.mobile-menu .mobile-toolbar {
  display: grid;
}

/* || Headline Section  */
.headline-container {
  background-color: var(--gray);
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

#menu-btn {
  font-size: 2rem;
  padding: 1rem;
  z-index: 10;
}

#menu-btn:hover {
  color: var(--orange);
}

.headline h1 {
  color: var(--orange);
  font-size: 3rem;
  font-weight: 900;
}

.greeting {
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
}

.event-date {
  font-size: 1.8rem;
  font-weight: 900;
}

.event-location {
  font-size: 1.3rem;
}

/* || Program Section  */
.program-container {
  background-color: var(--dark);
  color: #fff;
}

.program-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 1rem;
  background-color: #333;
}

.program-card p {
  max-width: 60%;
}

.program-title {
  color: var(--orange);
  font-size: 1.3rem;
  min-width: 5rem;
}

#join-btn {
  font-size: 1.2rem;
  background-color: var(--orange);
  color: #fff;
  padding: 0.5rem 4rem;
  border: solid 1px var(--orange);
  margin: 1rem 0 1.5rem 0;
}

#join-btn:hover {
  color: var(--orange);
  background-color: var(--dark);
}

/* || Player Section  */
.player-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-container {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url('img/chessboard.png');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: top left;
}

.overlap-img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.player-info {
  padding-left: 1rem;
}

.profile-pic {
  width: 85%;
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.player-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.player-title {
  color: var(--orange);
  font-size: 1rem;
  font-style: italic;
}

.player-bio {
  font-size: 0.8rem;
}

/* || Partner section  */
.partner-container {
  background-color: var(--dark);
  color: #fff;
}

.partner-logo {
  display: block;
  max-width: 100px;
}

/* || Footer container  */
.footer-container {
  font-size: 0.8rem;
}

.footer-container h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

/* ----------------------------------------------- */
/* || About Page Styles */

.event-card:hover {
  box-shadow: 0 5px 10px #ccc;
}

/* ------------------------------------------------ */
/* || Desktop Version  */
@media (min-width: 768px) {
  /* Navbar  */
  .tool-bar {
    display: flex;
  }

  .nav-bar {
    height: auto;
    background-image: none;
    padding: 0.5rem 1rem;
  }

  .nav-bar nav {
    width: auto;
    background-color: #fff;
  }

  .nav-menu a {
    color: #000;
  }

  .page-logo {
    display: block;
  }

  #menu-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  /* Headline  */
  .headline-container {
    background-image: url('img/chessbg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top left;
  }

  .headline {
    padding: 10rem 20rem 10rem 5rem;
    background-color: #f2f2f2c2;
    backdrop-filter: blur(3px);
  }

  /* Programs  */
  .program-card {
    flex-direction: column;
    justify-content: flex-start;
  }

  .program-card p {
    max-width: max-content;
    text-align: center;
  }

  /* About Page  */
  .about-headline {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
