* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

p {
  line-height: 1.4rem;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

hr {
  width: 10%;
  height: 3px;
  background-color: #ed641f;
  border: none;
}

:root {
  --dark: #272a31;
  --orange: #ec5242;
  --gray: #d3d3d3;
}

/* || Utilities */

.icon-container {
  color: #fff;
  font-size: 2rem;
}

.section-heading {
  font-weight: 700;
}

/* || Header Section  */

.tool-bar {
  display: none;
  background-color: var(--dark);
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.3rem 2rem;
}

.tool-bar a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.tool-bar i {
  font-size: 1rem;
  padding: 0.3rem;
}

.tool-bar a:hover {
  color: var(--orange);
}

.nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;

  background-image: url('img/chess-pieces.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}

.page-logo {
  display: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-bar nav {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3d6;
}

.nav-menu {
  display: none;
}

.nav-menu.mobile-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(221, 160, 221, 0.806);
  backdrop-filter: blur(5px);
}

.nav-menu li {
  padding: 0.5rem 1rem;
  border: solid 1px #fff;
  min-width: 80px;
  text-align: center;
}

.nav-menu a {
  text-decoration: none;
  font-size: 0.9rem;
}

.nav-menu li:hover {
  border-color: var(--orange);
}

.nav-menu li:hover a {
  color: var(--orange);
}

/* || Headline Section  */
.headline-container {
  background-color: var(--gray);
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

#menu-btn {
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 10;
}

.headline h1 {
  color: var(--orange);
  font-size: 3rem;
  font-weight: 900;
}

.greeting {
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
}

.event-date {
  font-size: 1.8rem;
  font-weight: 900;
}

.event-location {
  font-size: 1.3rem;
}

/* || Program Section  */
.program-container {
  background-color: var(--dark);
  color: #fff;
}

.program-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #333;
}

.program-title {
  color: var(--orange);
  font-size: 1.4rem;
}

#join-btn {
  font-size: 1.2rem;
  background-color: var(--orange);
  color: #fff;
  padding: 0.5rem 4rem;
  border: solid 1px var(--orange);
}

#join-btn:hover {
  color: var(--orange);
  background-color: var(--dark);
}

/* || Player Section  */
.profile-pic {
  width: 100px;
  height: 100px;
}

.player-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.player-title {
  color: var(--orange);
  font-size: 1.1rem;
  font-style: italic;
}

.player-bio {
  font-size: 0.8rem;
}

/* || Partner section  */
.partner-container {
  background-color: var(--dark);
  color: #fff;
}

.partner-logo {
  display: block;
  max-width: 100px;
}

/* || Footer container  */
.footer-container {
  font-size: 0.8rem;
}

.footer-container h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

/* ----------------------------------------------- */
/* || About Page Styles */

.event-card:hover {
  box-shadow: 0 5px 10px #ccc;
}

/* ------------------------------------------------ */
/* || Desktop Version  */
@media (min-width: 768px) {
  /* Navbar  */
  .tool-bar {
    display: flex;
  }

  .nav-bar {
    height: auto;
    background-image: none;
    padding: 0.5rem 1rem;
  }

  .nav-bar nav {
    width: auto;
    background-color: #fff;
  }

  .nav-menu a {
    color: #000;
  }

  .page-logo {
    display: block;
  }

  #menu-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  /* Headline  */
  .headline-container {
    background-image: url('img/chessbg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top left;
  }
  .headline {
    padding: 10rem 20rem 10rem 5rem;
    background-color: #d3d3d3d6;
    backdrop-filter: blur(3px);
  }

  /* Programs  */
  .program-card {
    flex-direction: column;
  }
}
